html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: url('./assets/fixed-bg.jpg') fixed center center no-repeat;
    overflow: hidden;

    #root{
        width: 100%;
        }
}